<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div class="img">
    <img src="../../assets/faq.png" alt="" />
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="30px"
    fxLayoutGap.xs="0"
  >
    <div fxFlex="1 1 40%" class="centrado">
      <h1 class="mat-h1 accent-color">¿Te ayudamos?</h1>
    </div>
    <mat-accordion fxFlex="1 1 60%">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Qué me ofrece Smart Gym?
        </mat-expansion-panel-header>
        En Smart Fit podrás hacer uso de las instalaciones donde encontrarás
        distintas áreas para la realización de ejercicio tanto cardiovascular,
        de fuerza y hasta clases grupales.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Cómo hago mi inscripción?
        </mat-expansion-panel-header>
        Es muy sencillo, solo debes elegir el plan que mas te convenga y puedes
        realizar tu inscripción en nuestra pagina web o en la recepción de la
        unidad de tu preferencia llevando una identificación oficial y la
        tarjeta de débito o crédito que desees registrar.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Qué métodos de pago aceptan?
        </mat-expansion-panel-header>
        Las tarjetas de débito y crédito aceptadas como método de pago por
        nuestro sistema son las siguientes: Santander, Banamex, BBVA, HSBC,
        Scotiabank, Banorte, Inbursa, Banco Azteca, Autofin, IXE, Banco Bajío,
        Multiva, American Express y Banjercito.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Aceptan tarjetas departamentales o de prepago?
        </mat-expansion-panel-header>
        Las tarjetas de prepago o cualquier tarjeta departamental, no aplican
        como método de pago para inscribirte.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Aceptan tarjetas extranjeras?
        </mat-expansion-panel-header>
        Nuestro sistema de pagos no admite tarjetas de crédito o débito
        extranjeras.
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Cuándo son los días de pago?
        </mat-expansion-panel-header>
        Dependiendo el día que te inscribas, tus fechas de corte serán 1, 10 o
        20. Te sugerimos acercarte a la recepción de la unidad para mayor
        información.
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <app-footer></app-footer>
</div>
