<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="30px"
  class="mb-5"
>
  <div class="img">
    <img src="../../assets/about.png" alt="" />
  </div>

  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="30px"
    fxLayoutGap.xs="30px"
  >
    <mat-card class="example-card" fxFlex="1 1 33%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>done</mat-icon>
        </div>
        <mat-card-title>Facilidades</mat-card-title>
        <mat-card-subtitle>Autonomía</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/gym.jpg" />
      <mat-card-content>
        <p>
          Transformamos lo complicado en simple. Pensando en tu comodidad,
          contamos con diferentes servicios online como inscripción,
          transferencia de unidad, etc. Así como entrenamientos pensados para
          que los realices de forma autónoma.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" fxFlex="1 1 33%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>map</mat-icon>
        </div>
        <mat-card-title>Presencia</mat-card-title>
        <mat-card-subtitle>Movilidad</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/mujercbarra.jpg" />
      <mat-card-content>
        <p>
          Entrena cuando quieras y donde quieras. Queremos que siempre exista un
          Smart Gym cerca de ti. Actualmente Smart Gym cuenta con más de 100
          gimnasios en México y suma más de 400 en todo latinoamérica, en
          Brasil, Chile, Colombia, República Dominicana, Perú y Ecuador.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" fxFlex="1 1 33%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>accessibility_new</mat-icon>
        </div>
        <mat-card-title>Accesibilidad</mat-card-title>
        <mat-card-subtitle>Tecnología</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/gimansio.png" />
      <mat-card-content>
        <p>
          Nuestra misión es entregar fitness de alta calidad, haciéndola
          accesible para todos. Es por eso que todos nuestros gimnasios cuentan
          con la tecnología e instalaciones adecuadas para satisfacer las
          necesidades de nuestros usuarios.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="img">
    <img src="../../assets/entrenamientosbanner.png" alt="" />
  </div>
  <div class="centrado">
    <h1 class="mat-h1 accent-color">EQUIPOS</h1>
    <p>
      Todos los gimnasios Smart Gym cuentan con equipos de alta calidad <br> 
      y tecnología, diseñados para mejorar tu rendimiento y seguridad.
    </p>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="30px"
    fxLayoutGap.xs="30px"
  >
    <mat-card class="example-card" fxFlex="1 1 33%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon><i class="fas fa-dumbbell"></i></mat-icon>
        </div>
        <mat-card-title>Área de musculación</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/muscle.jpg" />
      <mat-card-content>
        <p>
            El área de musculación se encuentra dividida en dos partes, 
            siendo una de ellas el área de peso libre, y otra con aparatos 
            de última generación diseñados para trabajar cada uno de los 
            músculos de forma segura y efectiva.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" fxFlex="1 1 33%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>directions_run</mat-icon>
        </div>
        <mat-card-title>Caminadora</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/caminadora.jpg" />
      <mat-card-content>
        <p>
            A pesar de ser la más tradicional, la caminadora continua siendo uno 
            de los equipos más eficientes cuando se trata de entrenamiento 
            cardiovascular, pues además de proporcionar la perdida de peso y gasto 
            calórico, también trabaja el acondicionamiento físico y respiratorio.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" fxFlex="1 1 33%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>rowing</mat-icon>
        </div>
        <mat-card-title>Remo</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/remo.jpg" />
      <mat-card-content>
        <p>
            El Remo es un equipo cardiovascular muy eficaz, capaz de trabajar una gran 
            gama de músculos. El equipo, que es un simulador de remo, está indicado 
            para la quema de calorias.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
