<mat-toolbar color="primary" class="mat-typography" >
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="home"><img src="../../assets/logomorado.png" alt=""></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="curses"><mat-icon>whatshot</mat-icon>Cursos</a>
            </li>
            <li>
                <a routerLink="about"><mat-icon>emoji_people</mat-icon> Acerca de</a>
            </li>
            <ul *ngIf="user$ | async as user ; else login">
                <li *ngIf="user">
                    <a class="nav-link" (click)="onLogout()">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="ruta()"><small>{{user?.email}}</small></a>
                </li>
            </ul>
         
            <li>
                <a routerLink="contact"><mat-icon>contact_phone</mat-icon> Contacto</a>
            </li>
            <li>
                <a routerLink="faq"><mat-icon><i class="fas fa-info-circle"></i></mat-icon> FAQ</a>
            </li>
            <ng-template #login>
                <li>
                    <a routerLink="admin"><mat-icon>login</mat-icon>Login</a>
                </li>
                <li>
                    <a routerLink="registrar"><mat-icon>login</mat-icon>Registrar</a>
                </li>
            </ng-template>
            <li>
                <div >
                    <button mat-raised-button color="primary" (click)="start()">Iniciar Lectura</button>
                    <button mat-raised-button color="primary" (click)="pause()"> Pausar </button>
                    <button mat-raised-button color="primary"(click)="resume()"> Reanudar </button>
                    <br>
                    <select #langSelect *ngIf="speechData" (change)="setLanguage(langSelect.value)">
                    <option [value]="i" *ngFor="let voice of speechData.voices;let i = index;">
                      {{voice.name}} - {{voice.lang}}
                    </option>
                  </select>
                  </div>
            </li>
        </ul>
    </div>
</mat-toolbar>