
<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
  id='toRead'
>
<div>
</div>
  <div class="img">
    <img src="../../assets/bannerprin.png" alt="" />
  </div>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    class=""
  >
    <p class="oculto">¡Hola! bienvenido al sitio de Smart Gym, esperamos que disfrutes tu estancia aqui.</p>
    <div class="p-all" fxLayout="column">
      <p class="oculto">Sección principal.</p>
      <h1 class="mat-h1" class="primary-color">!ÚNETE A SMART GYM!</h1>
      <h1 class="mat-h1" class="primary-color">INSCRÍBETE EN LÍNEA</h1>
      <p class="oculto">.</p>
      <p class="mat-body">
        En tan sólo 2 minutos puedes ser parte del mejor gimnasio en Aguascalientes,
        México y en América Latina.
      </p>
      <button mat-raised-button color="primary">Ubica nuestro gimnasio</button>
      <p class="oculto">.</p>
    </div>
    <div class="p-all" fxLayout="column">
      <div fxLayout="row wrap" class="m-3 ">
        <p class="oculto">Icono</p>
        <mat-icon class="md-48" fxFlex="1 1 20%" color="accent">sports</mat-icon>
        <h3 class="mat-h3" fxFlex="1 1 80%" class="accent-color">
          ¿Sabes por que Smart Gym es un gimnasio inteligente?
        </h3>
      </div>
      <div fxLayout="row wrap" class="ml-5 mb-5">
        <div fxFlex="1 1 20%"></div>
        <a mat-button routerLink="/about" fxFlex="1 1 40%" color="accent">¿Cómo funciona Smart Gym?</a>
      </div>
      <mat-divider class="primary-color"></mat-divider>
      <div fxLayout="row" class="m-3">
        <p class="oculto">Icono</p>
        <mat-icon class="md-48" fxFlex="1 1 20%" color="accent">question_answer</mat-icon>
        <h3 class="mat-h3" fxFlex="1 1 80%" class="accent-color">
          Conoce todo lo que necesitas para ser usuario
        </h3>
        <p class="oculto">.</p>
      </div>
      <div fxLayout="row wrap" class="ml-5 mb-5">
        <div fxFlex="1 1 20%"></div>
        <a mat-button routerLink="/faq" fxFlex="1 1 40%" color="accent">Sección de FAQ</a>
        <p class="oculto">.</p>
      </div>
    </div>
  </div>
  <div fxFlexAlign="center">
    <h1 class="mat-h1">SOMOS <span class="primary-color">SMART</span></h1>
  </div>
  <div fxFlexAlign="center" class="centrado">
    <p>Inaugurado en el 2020 en México, Smart Gym fue creado con el propósito de democratizar<br>
    el fitness de alta calidad, es decir, hacer accesible la práctica de actividad física para <br> 
    todos. <span class="accent-color">Con planes accesibles, fácil inscripción y sin complicaciones.</span></p>
  </div>
  <div fxFlexAlign="center" class="mt-5">
    <h1 class="mat-h1" class="mt-3">LO QUE<span class="primary-color"> SMART OFRECE</span></h1>
  </div>
  <div class="img">
    <img src="../../assets/pareja2banner.jpg" alt="" />
  </div>
  <div fxFlex="1 1 40%" fxFlexAlign="center" class="justificado m-5">
    <h1 class="mat-h1" class="accent-color">Smart HIIT</h1>
    <p>Entrenamiento de alta intensidad que se realiza en el salón de clases, en la cual los <br>
      participantes acompañan los diferentes entrenamientos por medio del proyector. HIIT está <br>
      indicado para quien desea perder peso y acelerar su metabolismo, haciendo que el cuerpo <br>
      continúe quemando calorías incluso horas después del entrenamiento.</p>
  </div>
  <div class="img mt-5">
    <img src="../../assets/mancuernas2banner.jpg" alt="" />
  </div>
  <div fxFlex="1 1 40%" fxFlexAlign="center" class="justificado m-5">
    <h1 class="mat-h1" class="accent-color">Smart Box</h1>
    <p>Un espacio completamente dedicado al entrenamiento funcional. Con accesorios exclusivos para <br>
      trabajar el acondicionamiento del cuerpo de forma global.</p>
  </div>
  <div class="img mt-5">
    <img src="../../assets/manwomanbanner.jpg" alt="" />
  </div>
  <div fxFlex="1 1 40%" fxFlexAlign="center" class="justificado m-5">
    <h1 class="mat-h1" class="accent-color">Smart Class</h1>
    <p>Salón de clases en grupo, la mejor combinación de ejercicio con diversión. Cuenta con diferentes <br>
      disciplinas como Zumba, BodyCombat, Yoga y Clase de Abdomen y Gluteo. <br><br></p>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>


